@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.outfit-700 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: hsl(218, 44%, 22%);
    font-size: 22.5px;
    margin-left: 20px;
    margin-right: 20px;

}

.outfit-400 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    margin: 15px 27.5px 34px 27.5px;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#component {
    width: 320px;
    background-color: white;
    border-radius: 20px;
}

img {
    width: 290px;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
}